<section class="jumbotron">
    <div class="container">
        <h1 class="jumbotron-headin">La Corte</h1>
        <p class="lead text-muted">Tenemos el hogar de sus sueños, permítanos ayudarle a encontrar el lugar que anhela!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Buscar</a></p>
    </div>
</section>
<div class="album py-5 bg-light">
    <div ng-controller="HomeController" class="container">
        <div ng-include="'views/place-cards.htm'"></div>
    </div>
</div>