<div ng-include="'views/user-navbar.htm'"></div>
<div class="container">
    <div class="row justify-content-md-center">
        <form>
        <div class="form-group col-md-auto">
            <p class="h2">Ingreso</p>    
            <label for="username" class="sr-only">Nombre de usuario</label>
            <input type="text" id="username" class="form-control" placeholder="Nombre de usuario" required autofocus>
            <label for="password" class="sr-only">Contrasña</label>
            <input type="password" id="password" class="form-control" placeholder="Contraseña" required>
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="login()">Login</button>
        </div>
        </form>
    </div>
</div>