<div ng-include="'views/user-navbar.htm'"></div>
<div class="container" style="margin-top: 70px">
    <div class="row justify-content-md-center">
        <div ng-show="successLogout" class="col-md-auto alert alert-success alert-dismissible fade show" role="alert">
            Has cerrado sesión exitosamente.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div ng-show="errorLogin" class="col-md-auto alert alert-danger alert-dismissible fade show" role="alert">
            El nombre de usuario y/o contraseña son incorrectos.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <form>
        <div class="form-group col-md-auto">
            <p class="h2">Ingreso</p>    
            <label for="username" class="sr-only">Nombre de usuario</label>
            <input type="text" id="username" class="form-control" placeholder="Nombre de usuario" required autofocus>
            <label for="password" class="sr-only">Contrasña</label>
            <input type="password" id="password" class="form-control" placeholder="Contraseña" required>
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="login()">Login <span class="fas fa-sign-in-alt"></span></button>
        </div>
        </form>
    </div>
</div>