<div ng-include="'views/admin-navbar.htm'"></div>
<div ng-controller="ShowOwnerController" class="container" style="margin-top: 20px">
    <div class="row" style="margin-bottom: 20px">
        <div class="col-sm-9">
            <p class="h3">Información del propietario</p>
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-primary" ng-click="goToEdit()">Editar</button>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-success" ng-click="goToNewPlace()">Nuevo Inmueble</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <p class="h5">Tipo de documento</p>
        </div>
        <div class="col-sm-3">
            <p class="text">{{ owner.dni_type }}</p>
        </div>
        <div class="col-sm-3">
            <p class="h5">Documento</p>
        </div>
        <div class="col-sm-3">
            <p class="text">{{ owner.dni }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <p class="h5">Nombre</p>
        </div>
        <div class="col-sm-3">
            <p class="text">{{ owner.firstname }}</p>
        </div>
        <div class="col-sm-3">
            <p class="h5">Apellido</p>
        </div>
        <div class="col-sm-3">
            <p class="text">{{ owner.lastname }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <p class="h5">Email</p>
        </div>
        <div class="col-sm-3">
            <p class="text">{{ owner.email }}</p>
        </div>
        <div class="col-sm-3">
            <p class="h5">Teléfono</p>
        </div>
        <div class="col-sm-3">
            <p class="text">{{ owner.phone }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <p class="h5">Banco</p>
        </div>
        <div class="col-sm-2">
            <p class="text">{{ owner.bank }}</p>
        </div>
        <div class="col-sm-2">
            <p class="h5">Tipo de cuenta</p>
        </div>
        <div class="col-sm-2">
            <p class="text">{{ owner.account_type | accountTypeFormat }}</p>
        </div>
        <div class="col-sm-2">
            <p class="h5">Cuenta</p>
        </div>
        <div class="col-sm-2">
            <p class="text">{{ owner.account }}</p>
        </div>
    </div>
</div>