<div ng-include="'views/admin-navbar.htm'"></div>
<div ng-controller="ShowPlaceController" class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-sm-12">
            <p class="h3">Detalles del inmueble</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <p class="h5">Nombre</p>
        </div>
        <div class="col-sm-4">
            <p class="text">{{ place.name }}</p>
        </div>
        <div class="col-sm-2">
            <p class="h5">Tipo</p>
        </div>
        <div class="col-sm-4">
            <p class="text">{{ place.type }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <p class="h5">Descripción</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="text">{{ place.description }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <p class="h5">Área</p>
        </div>
        <div class="col-sm-4">
            <p class="text">{{ place.area }} m<sup>2</sup></p>
        </div>
        <div class="col-sm-2">
            <p class="h5">Piso</p>
        </div>
        <div class="col-sm-4">
            <p class="text">{{ place.floor }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <p class="h5">Habitaciones</p>
        </div>
        <div class="col-sm-4">
            <p class="text">{{ place.bedrooms }}</p>
        </div>
        <div class="col-sm-2">
            <p class="h5">Baños</p>
        </div>
        <div class="col-sm-4">
            <p class="text">{{ place.bathrooms }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <p class="h5">Estrato</p>
        </div>
        <div class="col-sm-4">
            <p class="text">{{ place.stratum }}</p>
        </div>
        <div class="col-sm-2">
            <p class="h5">Parqueaderos</p>
        </div>
        <div class="col-sm-4">
            <p class="text">{{ place.parking }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <p class="h5">Ubicación</p>
        </div>
        <div class="col-sm-4">
            <p class="text">{{ place.location }}</p>
        </div>
    </div>
    <div class="row">
        <div class="custom-file col-sm-5">
            <input type="file" class="custom-file-input" id="photoFile">
            <label class="custom-file-label" for="photoFile">Agregar imagen</label>
        </div>
    </div>
    <div class="row" ng-repeat="row in photos">
        <div class="col-sm-4" ng-repeat="photo in row">
            <img class="d-block w-100" ng-src="{{photo.url}}">
        </div>
    </div>
</div>