<div ng-include="'views/user-navbar.htm'"></div>
<div ng-controller="PlaceDetailController" class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <div id="placeCarousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#placeCarousel" ng-repeat="photo in place.photos" data-slide-to="$index" class="$index  == 0 ? 'active' : ''"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item" ng-repeat="photo in place.photos" ng-class="{'active': $index == 0}">
                                <img class="d-block w-100" ng-src="{{photo.url}}">
                            </div>
                        </div>
                        <a class="carousel-control-prev" ng-click="prevPhoto()" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" ng-click="nextPhoto()" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="h3">{{ place.name }}</p>
                    <p class="text">{{ place.description }}</p>
                    <p class="h4">Área: {{ place.area }} m<sup>2</sup></p>
                </div>
            </div>
        </div>
    </div>
</div>